header.ant-layout-header,
ul.ant-menu-overflow.ant-menu {
  background-color: #006ec9;
}
.ant-typography.navBar-title {
  color: #ffffff;
}

.ant-menu-title-content .ant-btn span {
  color: #ffffff;
}

.ant-menu-overflow-item.ant-menu-item-active
  .ant-menu-title-content
  .ant-btn
  span {
  color: #41c9ff;
}
li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: #008cff;
}
.navBar-title {
  margin: 20px;
}

.hidden-and-disabled {
  display: none;
  pointer-events: none;
}

:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  background-color: #006ec9;
}
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-item-selected:hover,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected:hover,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected:hover,
:where(.css-dev-only-do-not-override-kghr11).ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected:hover {
  background-color: #006ec9;
}
