.categoryCard {
  height: 200px;
  display: block;
  flex-direction: column;
}

.categoryTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.categoryPanel {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  background-color: ;
}
