.tripContainer {
  margin: 150px 10% 10% 10%;
}

.tripPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btnMarging {
  margin-top: 20px;
}

.btnPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.floating-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%; /* Hace que el botón sea redondo */
  font-size: 20px; /* Ajusta el tamaño del icono si es necesario */
  z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1300px) {
  .tripContainer {
    margin: 150px 15px 15px 15px;
  }
}
