/* 
html {
    display: flex;
    width: 100vh; 
}
body{
    max-width: 1200px;
}
header{
    
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
} */
margin0{
    margin: 0;
}