.cardSize {
  width: 40%;
  margin: 5px;
  margin-bottom: 25px;
  min-width: 350px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ant-descriptions.ant-descriptions-bordered {
  width: -webkit-fill-available;
}

.icon-size {
  font-size: 24px;
}

.icon-margin-left {
  margin-left: 15px;
}

.danger-color {
  color: #ff4d4f;
}

.number-panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number-likes{
  margin: 0;
}
.number-panel > h4.ant-typography {
  margin-bottom: 5px;
}
