.proposalCard {
  margin-bottom: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ant-descriptions.ant-descriptions-bordered {
  width: -webkit-fill-available;
}

.icon-size {
  font-size: 24px;
  margin-right: 10px;
}

.icon-margin-left {
  margin-left: 15px;
}

.danger-color {
  color: #ff4d4f;
}

.number-panel {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.number-panel > h4.ant-typography {
  margin-bottom: 5px;
}
