.cardSize {
  width: 40%;
  margin: 5px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ant-descriptions.ant-descriptions-bordered {
  width: -webkit-fill-available;
}

.icon-size {
  font-size: 24px;
}

.icon-margin-left {
  margin-left: 15px;
}

.danger-color {
  color: #ff4d4f;
}
