.cardInfoTrip {
  margin-top: 15%;
  margin-left: 10%;
  font-size: 20px;
}

.tripButton {
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(241, 241, 236);
}

.newCategoryInput {
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: beige;
}

.categoryCardList {
  margin: 10px 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
