.cardSize {
  width: 100%;
  margin: 5px;
  background-color: #0e77da13;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0e77da13;
}

.ant-descriptions.ant-descriptions-bordered {
  width: -webkit-fill-available;
}

.icon-size {
  font-size: 24px;
}

.icon-margin-left {
  margin-left: 15px;
}

.danger-color {
  color: #ff4d4f;
}
.centered-uppercase-blue {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #0e77da;
}

.blue {
  color: #0e77da;
}

@media (min-width: 992px) {
  .cardSize {
    width: 49%;
  }
}
/* @media (min-width: 576px) {
    .cardSize {
        width: 50%;
    }
}
@media (min-width: 768px) { 
    .cardSize {
        width: 20%;
    }
} */
