.user-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding-top: 130px;
}

.user-align {
    display: flex;
    align-items: center;
} 

.user-content {
    width: 400px;
    text-align: center;
}

.form-details {
 margin-top: 25px ;
}
.profile-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-container{
        width: 120px;
        height: 120px;
        border-radius: 50%;
}

.form-details .ant-form-item .ant-form-item-label ::before {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.profileTitle{
    margin-bottom: 25px;
}
/* 
.required::before {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
} */